<div class="frame">
    <div class="mainContainer">
        <div class="container">
                <h4>Crear juego</h4>
                <h1>Lista de jugadores</h1>
                <input type="checkbox" value="JUGADOR">
                <button class="create-btn" (click)="onclickCreate()">
                    Crear Juego
                </button>
                <h4>Invita a tus amigos</h4>
        </div>
        <button class="consult-btn" (click)="onclickList()"> 
            Consultar Juegos Creados
        </button>
    </div>
</div>
