<div class="frame">
    <div class="mainContainer">
        <div class="container">
                <h4>Incio</h4>
                <h1>Indicaciones de Juego</h1>
                <p>Para iniciar el juego debes estar registrado,
                     incluso los jugadores</p>
                <button class="create-btn" (click)="onclickCreate()">
                    Crear Juego
                </button>
                <h4>Invita a tus amigos</h4>
        </div>
        <button class="consult-btn" (click)="onclickList()"> 
            Consultar Juegos Creados
        </button>
    </div>
</div>
